*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height:100%;
    width: 100%;
    
}
body{
    background: white;
    font-family: sans-serif;

}
.menu{
    width:90%;
    height: 10%;
    margin: auto;
    padding: 10px  ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    cursor: pointer;
    width:100px;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position:relative;
}
.menu ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
.menu ul li:hover:after{
    content: '';
    height: 3px;
    width: 100%;
    background: black;
    position: absolute;
    left:0;
    bottom:0;
}

.foot{
    height: 150px;
    width: 100%;
    background: rgba(0,0,0,0.8);
    position:relative;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.foot ul li {
    list-style: none;
    padding:7px;
    font-size: 10px;
    margin: 10px;
}
.foot ul li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}
.welcome{
    background-image: url("../slike/welcome.jpg");
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.main1{
    position: relative;
    align-items: center;
    justify-content: center;
}
#txt_welcome{
	color: #fc4b08;
	font: 60px 'Sansita One';
	text-align: center;
	text-shadow: 3px 3px 0px #393D48, 6px 6px 0px #5c5f72;
    position: relative;
    left: 5%;
}
.welcome:hover{
    opacity: 0.7;
}
#canvas{
    height: auto;
    width: 30vh;
    position: relative;
    bottom: -40%;
    right: 15%;
}